@media (max-width: 768px) {
  .about-hero {
    flex-direction: column-reverse;
    padding-left: 0px;
    padding-bottom: 70px;

    &-oval {
      left: 0;
      top: 10%;
      width: 70%;
    }

    &-contents {
      width: 80%;
      margin-right: 0px;
      margin-top: 50px;
      text-align: center;
    }

    &-img {
      width: 100%;
      height: 320px;
      background-image: url('../../assets/about/tablet/image-about-hero.jpg');
    }
  }

  .talent {
    flex-direction: column;
    padding-right: 0px;
    padding-bottom: 70px;

    &-img {
      width: 100%;
      height: 320px;
      background-image: url('../../assets/about/tablet/image-world-class-talent.jpg');
    }

    &-contents {
      margin-top: 50px;
      margin-left: 0px;
      text-align: center;
    }
  }

  .locations-choice {
    flex-direction: column;
  }

  .location-choice {
    &:not(:last-child) {
      margin-bottom: 70px;
    }

    &-content {
      & .location-name {
        font-size: map-get(c.$font-sizes, H2);
      }
    }
  }

  .deal {
    flex-direction: column-reverse;
    padding-left: 0px;
    padding-bottom: 70px;

    &-contents {
      margin-top: 50px;
      margin-right: 0px;

      & .deal-header {
        font-size: map-get(c.$font-sizes, H2);
      }
    }

    &-img {
      width: 100%;
      height: 320px;
      background-image: url('../../assets/about/tablet/image-real-deal.jpg');
    }

    &-pattern {
      position: absolute;
      right: 10%;
      bottom: -3%;
      width: 60%;
      z-index: 2;

      & img {
        width: 100%;
      }
    }
  }

  .cta {
    flex-direction: column;
    background: c.$pri_peach;
    border-radius: 12px;
    padding: 50px 70px;

    &-content {
      width: 80%;
      margin-inline: auto;
      text-align: center;

      &-header {
        margin-bottom: 20px;
      }

      &-copy {
        font-size: map-get(c.$font-sizes, body);
      }
    }

    &-btn {
      margin-top: 30px;
      & a {
        @include c.button_on_dark;
      }
    }
  }

  .footer-bottom {
    &-content {
      & .address {
        margin-right: 30px;
      }
    }
  }

  .bg-pattern {
    display: none;
  }
}

@media (max-width: 600px) {
  #header-container {
    padding: 20px 0;
    height: auto;
  }

  .header {
    & .links {
      position: absolute;
      top: 73.2px;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      transform: translateX(100%);
      z-index: 5;
      @include c.transition;

      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: c.$pri_black;
        opacity: 0.5;
        z-index: 4;
        display: none;
      }

      &.open {
        transform: translateX(0);
        &:after {
          display: block;
        }
      }

      & .link {
        background: c.$pri_black;
        width: 100%;
        padding: 20px 0;
        padding-left: 30px;
        z-index: 5;
        transform: translateX(100%);

        @include c.transition;
        z-index: 5;

        &.open {
          transform: translateX(0);
        }

        &:first-child {
          padding-top: 50px;
        }
        &:last-child {
          padding-bottom: 50px;
        }

        &:not(:last-child) {
          margin-right: 0px;
          margin-bottom: -10px;
        }

        & a {
          font-size: 25px;
          color: c.$pri_white;

          &:hover {
            &:after {
              width: 0;
            }
          }
        }
      }
    }

    & .menu-icon {
      display: block;

      & i {
        font-size: 30px;
        cursor: pointer;

        &.fa-times {
          display: none;
        }
      }

      &.open {
        & .fa-bars {
          display: none;
        }
        & .fa-times {
          display: block;
        }
      }
    }
  }

  #about-hero-container {
    margin-top: 73.2px;
  }
  .about-hero {
    width: 100%;
    padding-bottom: 70px;
    border-radius: 0;

    &-oval {
      left: 20%;
      top: 20%;
      width: 80%;
      transform: rotate(90deg);
    }

    &-contents {
      width: 90%;

      & .about-hero-header {
        font-size: 32px;
      }

      & .about-hero-copy {
        font-size: 15px;
      }
    }

    &-img {
      width: 100%;
      height: 320px;
      background-image: url('../../assets/about/mobile/image-about-hero.jpg');
    }
  }

  #talent-container {
    margin-top: 0px;
  }

  .talent {
    width: 100%;
    border-radius: 0;

    &-img {
      width: 100%;
      height: 320px;
      background-image: url('../../assets/about/mobile/image-world-class-talent.jpg');
    }

    &-contents {
      width: 90%;

      & .talent-header {
        font-size: 32px;
      }

      & .talent-copy {
        font-size: 15px;
      }
    }
  }

  .location-choice {
    &:not(:last-child) {
      margin-bottom: 70px;
    }

    &-content {
      & .location-name {
        font-size: 20px;
      }
    }
  }

  .deal {
    width: 100%;
    border-radius: 0;

    &-contents {
      margin-top: 50px;
      margin-right: 0px;
      text-align: center;
      width: 90%;

      & .deal-header {
        font-size: 32px;
      }

      & .deal-copy {
        font-size: 15px;
      }
    }

    &-img {
      width: 100%;
      height: 320px;
      background-image: url('../../assets/about/mobile/image-real-deal.jpg');
    }

    &-pattern {
      position: absolute;
      right: 10%;
      bottom: -3%;
      width: 60%;
      z-index: 2;

      & img {
        width: 100%;
      }
    }
  }

  .cta {
    padding: 70px 40px;

    &-content {
      width: 100%;

      &-header {
        font-size: 32px;
      }
    }
  }

  .footer-top {
    @include c.flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: none;
    padding-bottom: 30px;

    &-logo {
      width: 157px;

      & img {
        width: 100%;
      }
    }

    &-links-container {
      border-top: 1px solid c.$footer-border;
      width: 100%;
      margin-top: 20px;
      padding-top: 20px;
    }

    &-links-container .links {
      @include c.flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & .link {
        &:not(:last-child) {
          margin-right: 0px;
          margin-bottom: 30px;
        }
      }
    }
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & .address {
        margin-right: 0px;
        margin-bottom: 40px;
        text-align: center;
      }

      & .contact {
        text-align: center;
      }
    }
  }

  .footer-bottom-socials {
    margin-top: 40px;
  }

  .bg-pattern {
    display: none;
  }
}
