@media (max-width: 768px) {
  .contact-hero {
    flex-direction: column;

    &-oval {
      position: absolute;
      left: -10%;
      top: -10%;
      width: 75%;
    }

    &-contents {
      width: 100%;
      margin-bottom: 50px;

      & .contact-hero-header {
        font-size: map-get(c.$font-sizes, H1);
      }
    }

    &-form {
      width: 100%;
      margin-left: 0px;

      & form {
        width: 100%;
        @include c.flex;
        flex-direction: column;

        & .form-group {
          position: relative;
          width: 100%;

          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  .locations-choice {
    flex-direction: column;
  }

  .location-choice {
    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }

  .cta {
    flex-direction: column;
    background: c.$pri_peach;
    border-radius: 12px;
    padding: 50px 70px;

    &-content {
      width: 80%;
      margin-inline: auto;
      text-align: center;

      &-header {
        margin-bottom: 20px;
      }

      &-copy {
        font-size: map-get(c.$font-sizes, body);
      }
    }

    &-btn {
      margin-top: 30px;
      & a {
        @include c.button_on_dark;
      }
    }
  }

  .footer-bottom {
    &-content {
      & .address {
        margin-right: 30px;
      }
    }
  }

  .bg-pattern {
    display: none;
  }
}

@media (max-width: 600px) {
  #header-container {
    padding: 20px 0;
    height: auto;
  }

  .header {
    align-items: flex-end;

    & .logo {
      width: 150px;
      transform: translateY(2px);

      & img {
        width: 100%;
      }
    }
    & .links {
      position: absolute;
      top: 68px;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      transform: translateX(100%);
      z-index: 5;
      @include c.transition;

      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: c.$pri_black;
        opacity: 0.5;
        z-index: 4;
        display: none;
      }

      &.open {
        transform: translateX(0);
        &:after {
          display: block;
        }
      }

      & .link {
        background: c.$pri_black;
        width: 100%;
        padding: 20px 0;
        padding-left: 30px;
        z-index: 5;
        transform: translateX(100%);

        @include c.transition;
        z-index: 5;

        &.open {
          transform: translateX(0);
        }

        &:first-child {
          padding-top: 50px;
        }
        &:last-child {
          padding-bottom: 50px;
        }

        &:not(:last-child) {
          margin-right: 0px;
          margin-bottom: -10px;
        }

        & a {
          font-size: 25px;
          color: c.$pri_white;

          &:hover {
            &:after {
              width: 0;
            }
          }

          &.active {
            text-decoration: underline;
            &:after {
              display: none;
            }
          }
        }
      }
    }

    & .menu-icon {
      display: block;

      & i {
        font-size: 30px;
        cursor: pointer;

        &.fa-times {
          display: none;
        }
      }

      &.open {
        & .fa-bars {
          display: none;
        }
        & .fa-times {
          display: block;
        }
      }
    }
  }

  #contact-hero-container {
    margin-top: 73.2px;
  }

  .contact-hero {
    flex-direction: column;
    width: 100%;
    border-radius: 0;
    padding: 50px 0px;

    &-oval {
      position: absolute;
      left: -20%;
      top: 0;
      width: 200%;

      & img {
        display: none;

        &.mobile-bg {
          width: 100%;
          display: block;
        }
      }
    }

    &-contents {
      width: 90%;
      margin-bottom: 50px;
      text-align: center;

      & .contact-hero-header {
        font-size: 32px;
      }
    }

    &-form {
      width: 90%;
      margin-left: 0px;

      & form {
        & button {
          align-self: center;
        }
      }
    }
  }

  .location-choice {
    &:not(:last-child) {
      margin-bottom: 70px;
    }

    &-content {
      & .location-name {
        font-size: 20px;
      }
    }
  }

  .cta {
    padding: 70px 40px;

    &-content {
      width: 100%;

      &-header {
        font-size: 32px;
      }
    }
  }

  .footer-top {
    @include c.flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: none;
    padding-bottom: 30px;

    &-logo {
      width: 157px;

      & img {
        width: 100%;
      }
    }

    &-links-container {
      border-top: 1px solid c.$footer-border;
      width: 100%;
      margin-top: 20px;
      padding-top: 20px;
    }

    &-links-container .links {
      @include c.flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & .link {
        &:not(:last-child) {
          margin-right: 0px;
          margin-bottom: 30px;
        }
      }
    }
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & .address {
        margin-right: 0px;
        margin-bottom: 40px;
        text-align: center;
      }

      & .contact {
        text-align: center;
      }
    }
  }

  .footer-bottom-socials {
    margin-top: 40px;
  }

  .bg-pattern {
    display: none;
  }
}
