@use 'config' as c;

@media (max-width: 768px) {
  .location {
    flex-direction: column-reverse;
    width: 100%;

    &.location-au {
      flex-direction: column-reverse;
    }

    &-content {
      width: 100%;
      margin-right: 0;
      margin-top: 20px;
    }

    &-map {
      height: 297px;
      border-radius: 12px;
      overflow: hidden;
      width: 100%;

      & #canada-map {
        height: 100%;
        width: 100%;
      }
    }
  }

  .cta {
    flex-direction: column;
    background: c.$pri_peach;
    border-radius: 12px;
    padding: 50px 70px;

    &-content {
      width: 80%;
      margin-inline: auto;
      text-align: center;

      &-header {
        margin-bottom: 20px;
      }

      &-copy {
        font-size: map-get(c.$font-sizes, body);
      }
    }

    &-btn {
      margin-top: 30px;
      & a {
        @include c.button_on_dark;
      }
    }
  }

  .footer-bottom {
    &-content {
      & .address {
        margin-right: 30px;
      }
    }
  }

  .bg-pattern {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    & .links {
      position: absolute;
      top: 93px;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      transform: translateX(100%);
      z-index: 5;
      @include c.transition;

      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: c.$pri_black;
        opacity: 0.5;
        z-index: 4;
        display: none;
      }

      &.open {
        transform: translateX(0);
        &:after {
          display: block;
        }
      }

      & .link {
        background: c.$pri_black;
        width: 100%;
        padding: 20px 0;
        padding-left: 30px;
        z-index: 5;
        transform: translateX(100%);

        @include c.transition;
        z-index: 5;

        &.open {
          transform: translateX(0);
        }

        &:first-child {
          padding-top: 50px;
        }
        &:last-child {
          padding-bottom: 50px;
        }

        &:not(:last-child) {
          margin-right: 0px;
          margin-bottom: -10px;
        }

        & a {
          font-size: 25px;
          color: c.$pri_white;

          &:hover {
            &:after {
              width: 0;
            }
          }
        }
      }
    }

    & .menu-icon {
      display: block;

      & i {
        font-size: 30px;
        cursor: pointer;

        &.fa-times {
          display: none;
        }
      }

      &.open {
        & .fa-bars {
          display: none;
        }
        & .fa-times {
          display: block;
        }
      }
    }
  }

  .locations {
    width: 100%;
  }

  .location {
    @include c.flex;

    &.location-au {
      flex-direction: column-reverse;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &-content {
      width: 100%;
      margin-right: 0;
      margin-top: 20px;
      text-align: center;

      &-header {
        font-size: 32px;
      }

      &-address {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .address {
          font-size: 15px;

          & span {
            display: block;
            font-weight: c.$font-weight_medium;
            color: c.$sec_dark-grey;
          }
        }
      }

      &-pattern {
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;

        & img {
          width: 100%;
        }
      }
    }

    &.location-au .location-content {
      margin-right: 0;
      margin-left: 0px;
    }

    &-map {
      height: 297px;
      border-radius: 12px;
      overflow: hidden;

      & img {
        height: 100%;
      }
    }
  }

  .cta {
    padding: 70px 40px;

    &-content {
      width: 100%;

      &-header {
        font-size: 32px;
      }
    }
  }

  .footer-top {
    @include c.flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: none;
    padding-bottom: 30px;

    &-logo {
      width: 157px;

      & img {
        width: 100%;
      }
    }

    &-links-container {
      border-top: 1px solid c.$footer-border;
      width: 100%;
      margin-top: 20px;
      padding-top: 20px;
    }

    &-links-container .links {
      @include c.flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & .link {
        &:not(:last-child) {
          margin-right: 0px;
          margin-bottom: 30px;
        }
      }
    }
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & .address {
        margin-right: 0px;
        margin-bottom: 40px;
        text-align: center;
      }

      & .contact {
        text-align: center;
      }
    }
  }

  .footer-bottom-socials {
    margin-top: 40px;
  }

  .bg-pattern {
    display: none;
  }
}
