@use 'config' as c;
@import 'reset';

body {
  font-family: c.$font-family;
  background: c.$pri_white;
  overflow-x: hidden;
  min-width: 100%;
}

#header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 94.5px;
  background: c.$pri_white;
  padding: 30px 0;
  z-index: 10;
  border-bottom: 1px solid c.$pri_black;
}

.header {
  @include c.flex;
  align-items: flex-start;
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;

  & .logo {
    width: 196px;

    & img {
      width: 100%;
    }
  }

  & .links {
    @include c.flex;

    & .link {
      &:not(:last-child) {
        margin-right: 25px;
      }

      & a {
        position: relative;
        font-size: map-get(c.$font-sizes, links);
        text-transform: uppercase;
        letter-spacing: 2px;
        color: c.$sec_dark-grey;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background: c.$sec_dark-grey;
          @include c.transition;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }

  & .menu-icon {
    display: none;
    & i {
      font-size: 30px;
      cursor: pointer;
    }
  }
}

.bg-pattern.pattern-1 {
  position: absolute;
  top: 600px;
  z-index: 1;
}

#about-hero-container {
  margin-top: 110px;
}

.about-hero {
  position: relative;
  width: 90%;
  height: auto;
  max-width: 1400px;
  margin-inline: auto;
  @include c.flex;
  background: c.$pri_peach;
  padding-left: 50px;
  border-radius: 12px;
  z-index: 3;
  overflow: hidden;

  &-oval {
    position: absolute;
    left: -5%;
    top: -40%;
    width: 60%;
    z-index: 2;

    & img {
      width: 100%;
    }
  }

  &-contents {
    position: relative;
    color: c.$pri_white;
    width: 80%;
    margin-right: 80px;
    z-index: 3;

    & .about-hero-header {
      font-size: map-get(c.$font-sizes, H1);
      margin-bottom: 20px;
    }
  }

  &-img {
    position: relative;
    width: 80%;
    height: 470px;
    background-image: url('../../assets/about/desktop/image-about-hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
  }
}

#talent-container {
  margin-top: 120px;
}

.talent {
  position: relative;
  width: 90%;
  height: auto;
  max-width: 1400px;
  margin-inline: auto;
  @include c.flex;
  background: c.$core-bg;
  padding-right: 50px;
  border-radius: 12px;
  z-index: 3;
  overflow: hidden;

  &-img {
    position: relative;
    width: 80%;
    height: 640px;
    background-image: url('../../assets/about/desktop/image-world-class-talent.jpg');
    background-position: center;
    background-size: cover;
    z-index: 3;
  }

  &-contents {
    position: relative;
    color: c.$pri_black;
    width: 80%;
    margin-left: 80px;
    z-index: 3;

    & .talent-header {
      font-size: map-get(c.$font-sizes, H2);
      margin-bottom: 20px;
      color: c.$pri_peach;
    }

    & .talent-copy {
      & span {
        display: block;
        margin-top: 20px;
      }
    }
  }

  &-pattern {
    position: absolute;
    right: 10%;
    bottom: -3%;
    width: 60%;
    z-index: 2;

    & img {
      width: 100%;
    }
  }
}

#locations-choice-container {
  margin-top: 120px;
}

.locations-choice {
  position: relative;
  width: 90%;
  height: auto;
  max-width: 1400px;
  margin-inline: auto;
  @include c.flex;
  flex-wrap: wrap;
  z-index: 3;
}

.location-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &-img {
    position: relative;
    width: 202px;
    margin-bottom: 40px;

    & .location-pattern {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 3;
      width: 100%;

      &.pattern-1 {
        transform: rotate(90deg);
      }

      &.pattern-3 {
        transform: rotate(-90deg);
      }
    }
  }

  &-content {
    & .location-name {
      text-transform: uppercase;
      font-size: map-get(c.$font-sizes, H2);
      letter-spacing: 5px;
      margin-bottom: 20px;
    }

    & a {
      @include c.button_on_light;
    }
  }
}

#deal-container {
  margin-top: 120px;
}

.deal {
  position: relative;
  width: 90%;
  height: auto;
  max-width: 1400px;
  margin-inline: auto;
  @include c.flex;
  background: c.$core-bg;
  padding-left: 50px;
  border-radius: 12px;
  z-index: 3;
  overflow: hidden;

  &-contents {
    position: relative;
    color: c.$pri_black;
    width: 80%;
    margin-right: 80px;
    z-index: 3;

    & .deal-header {
      font-size: map-get(c.$font-sizes, H2);
      margin-bottom: 20px;
      color: c.$pri_peach;
    }

    & .deal-copy {
      & span {
        display: block;
        margin-top: 20px;
      }
    }
  }

  &-img {
    position: relative;
    width: 80%;
    height: 640px;
    background-image: url('../../assets/about/desktop/image-real-deal.jpg');
    background-position: center;
    background-size: cover;
    z-index: 3;
  }

  &-pattern {
    position: absolute;
    right: 10%;
    bottom: -3%;
    width: 60%;
    z-index: 2;

    & img {
      width: 100%;
    }
  }
}

#cta-container {
  position: relative;
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;
  margin-top: 50px;
  transform: translateY(70px);
  z-index: 4;
  overflow: hidden;
}

.cta-pattern {
  position: absolute;
  right: 0;
  top: -50%;
  z-index: 3;
}

.cta {
  @include c.flex;
  background: c.$pri_peach;
  border-radius: 12px;
  padding: 70px 70px;

  &-content {
    position: relative;
    width: 40%;
    color: c.$pri_white;
    z-index: 4;

    &-header {
      font-size: map-get(c.$font-sizes, H2);
      font-weight: c.$font-weight_medium;
      line-height: 1;
      margin-bottom: 20px;
    }

    &-copy {
      font-size: map-get(c.$font-sizes, body);
    }
  }

  &-btn {
    position: relative;
    z-index: 4;
    & a {
      @include c.button_on_dark;
    }
  }
}

footer {
  position: relative;
  background: c.$pri_black;
  color: c.$pri_white;
  padding: 130px 0px 40px;
  z-index: 3;
  width: 100vw;
}

.footer {
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;
}

.footer-top {
  @include c.flex;
  align-items: flex-start;
  border-bottom: 1px solid c.$footer-border;
  padding-bottom: 30px;

  &-logo {
    width: 157px;

    & img {
      width: 100%;
    }
  }

  &-links-container .links {
    @include c.flex;

    & .link {
      &:not(:last-child) {
        margin-right: 25px;
      }

      & a {
        position: relative;
        font-size: map-get(c.$font-sizes, links);
        text-transform: uppercase;
        letter-spacing: 2px;
        color: c.$pri_white;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background: c.$sec_dark-grey;
          @include c.transition;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}

.footer-bottom {
  @include c.flex;
  align-items: flex-end;
  margin-top: 30px;

  &-content {
    @include c.flex;
    font-size: map-get(c.$font-sizes, body);

    & .address {
      color: c.$footer-border;
      font-weight: c.$font-weight_bold;
      margin-right: 100px;
      & span {
        display: block;
        font-weight: c.$font-weight_regular;
      }
    }

    & .contact {
      color: c.$footer-border;
      font-weight: c.$font-weight_bold;
      & span {
        display: block;
      }
    }
  }
}

.footer-bottom-socials {
  @include c.flex;

  & i {
    font-size: 20px;
    color: c.$pri_peach;
    cursor: pointer;
    @include c.transition;

    &:hover {
      color: c.$sec_light-peach;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.fa-youtube-play {
      font-size: 13px;
      color: c.$pri_black;
      background: c.$pri_peach;
      border-radius: 50%;
      width: 17px;
      height: 17px;
      line-height: 17px;
      padding: 10px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: c.$sec_light-peach;
      }
    }
  }
}

.bg-pattern {
  position: absolute;
}

.bg-pattern.pattern-1 {
  top: 20%;
}

.bg-pattern.pattern-2 {
  bottom: -70%;
  right: -30%;
}

.bg-pattern.pattern-1,
.bg-pattern.pattern-2 {
  display: none;
}

@import 'about-responsive';
