@use 'config' as c;
@import 'reset';

html {
  position: relative;
  overflow-x: hidden;
}

#contact-hero-container {
  margin-top: 110px;
}

.contact-hero {
  position: relative;
  width: 90%;
  height: auto;
  max-width: 1400px;
  margin-inline: auto;
  @include c.flex;
  background: c.$pri_peach;
  padding: 50px 50px;
  border-radius: 12px;
  z-index: 3;
  overflow: hidden;

  &-oval {
    position: absolute;
    left: -5%;
    bottom: -1%;
    width: 60%;
    z-index: 2;

    & img {
      width: 100%;

      &.mobile-bg {
        width: 100%;
        display: none;
      }
    }
  }

  &-contents {
    position: relative;
    color: c.$pri_white;
    z-index: 3;
    width: 50%;

    & .contact-hero-header {
      font-size: map-get(c.$font-sizes, H1);
      margin-bottom: 20px;
    }
  }

  &-form {
    position: relative;
    width: 50%;
    margin-left: 60px;
    z-index: 3;

    & form {
      width: 100%;
      @include c.flex;
      flex-direction: column;

      & .form-group {
        position: relative;
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 30px;
        }

        & label {
          display: block;
          color: c.$pri_white;
          font-weight: c.$font-weight_regular;
          font-size: 15px;
          padding-left: 20px;
          transform: translateY(50%);
          transition: all 300ms ease-in-out;

          &.up {
            transform: translateY(0%);
          }
        }

        & input,
        & textarea {
          width: 100%;
          border: none;
          background: transparent;
          border-bottom: 1px solid c.$pri_white;
          color: c.$pri_white;
          letter-spacing: 1.1px;
          font-size: 15px;
          padding-bottom: 5px;

          &:focus {
            outline: none;
          }
        }

        & .error {
          @include c.flex;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          color: c.$pri_white;
          display: none;

          &.showError {
            @include c.flex;
          }

          & img {
            margin-left: 8px;
          }
        }
      }

      & button {
        align-self: flex-end;
        @include c.button_on_dark;
        font-family: c.$font-family;
        padding: 15px 40px;
        border: none;
      }
    }
  }
}

#locations-choice-container {
  margin-top: 120px;
  margin-bottom: 120px;
}

.locations-choice {
  position: relative;
  width: 90%;
  height: auto;
  max-width: 1400px;
  margin-inline: auto;
  @include c.flex;
  flex-wrap: wrap;
  z-index: 3;
}

.location-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &-img {
    position: relative;
    width: 202px;
    margin-bottom: 40px;

    & .location-pattern {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 3;
      width: 100%;

      &.pattern-1 {
        transform: rotate(90deg);
      }

      &.pattern-3 {
        transform: rotate(-90deg);
      }
    }
  }

  &-content {
    & .location-name {
      text-transform: uppercase;
      font-size: map-get(c.$font-sizes, H3);
      letter-spacing: 5px;
      margin-bottom: 20px;
    }

    & a {
      @include c.button_on_light;
    }
  }
}

@import 'shared';
@import 'contact-responsive';
